<style>
      li {
      color: #2803fc; 
      }
  </style>

   <style>
        ol li {
            font-size: 16pt;
        }
        li {
        list-style-type: none; 
       }
  </style>

  <style>
            ul.nav{

            }

            .nav li { 
                float: left;
            }

            ul.nav li{
                display: block;
                width: 75px;
                padding:15px;
                background-color: #eb813f;
                border: 2px dashed #333;
                text-decoration: underline;
                color: #333;
                text-align: center;
                margin-left: 5px;
                font-weight: bold;
            }

            ul.nav li:hover{
                background-color: #333;
                color: #f4f4f4;
            }

            ul.nav li:nth-child(4){
                background-color: green;
            }
    </style>